.table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  table-layout: fixed;
  height: min-content;
}

.table th,
.table td {
  border: 1px solid black;
  padding: 8px;
  word-wrap: break-word;
}

.number {
  text-align: right;
}

.number__bold {
  font-weight: bold;
}

.date_group {
  background-color: #f0f0f0;
  font-weight: bold;
  text-align: center;
}
