.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto; /* Центрирование по горизонтали */
  position: relative;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 14px;
  width: 100%;
}

.label input,
.label select {
  padding: 3px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.button_cansel {
  background-color: #6c757d;
}

.button_disabled {
  background: #f8f8f8;
  color: #c2c2c2;
}

.title {
  font-size: 14px;
  margin: 0 auto 15px;
}
