.main {
  display: flex;
  margin-top: 0;
}

.main__darck {
  display: flex;
  background-color: #000;
  color: #fff;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    font-size: 10px;
  }
}
